@import "tailwindcss";

@theme {
  --color-primary-blue: #02122c;
  --color-brand-blue: #005aeb;
  --color-primary-hover: #0045b8;
  --color-bg-light: #f1f2f8;
  --color-bg-white: #ffffff;
  --color-text-dark: #111236;
  --color-text-gray: #545860;
  --color-border-light: #d8dae5;
}

@layer base {
  body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: var(--color-bg-light);
    color: var(--color-text-dark);
  }
}
